p {
  color: red;
}


/* styles.css */


.markdown.table {
 
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

.markdown.table th {

  background-color: #f2f2f2;
  padding: 8px;
  text-align: left;
}

.markdown.table td {
  /* Define styles for table cells */
  border: 1px solid #ddd !important;
  padding: 8px;
}

.markdown.table tr:nth-child(even) {

  background-color: #f9f9f9;
}

.markdown.table tr:hover {

  background-color: #e2e2e2;
}
